@font-face {
 font-family: "semibold";
 src: url("font/foundersgroteskmonoweb-semibold.woff2") format("woff2"),
      url("font/foundersgroteskmonoweb-semibold.woff") format("woff");
}

@font-face {
 font-family: "regular";
 src: url("font/foundersgroteskmonoweb-regular.woff2") format("woff2"),
      url("font/foundersgroteskmonoweb-regular.woff") format("woff");
}



.color {
  color: #ff4d00;

}

#signature {
  display: flex;
  align-items: center;
}

#logocontainer {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logosize {
  width: 80px;
}


#type {
  color: #524a47;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  line-height: 16px;
  font-size: 14px;
}

a#web {
  color: #524a47;
  text-decoration: none;
}

a#sub {
  color: #ff4d00;
  text-decoration: none;
}

#name {
  font-family: "Courier New", Courier, monospace;
}

#dot {
  font-family: "Courier New", Courier, monospace;
}

#title{
  font-family: "Courier New", Courier, monospace;
  opacity: 1;
}

#co {
  font-family: "Courier New", Courier, monospace;
}

#info{
  font-family: "Courier New", Courier, monospace;
}
