@font-face {
 font-family: "semibold";
 src: url("font/foundersgroteskmonoweb-semibold.woff2") format("woff2"),
      url("font/foundersgroteskmonoweb-semibold.woff") format("woff");
}

@font-face {
 font-family: "regular";
 src: url("font/foundersgroteskmonoweb-regular.woff2") format("woff2"),
      url("font/foundersgroteskmonoweb-regular.woff") format("woff");
}

body {
  display: inline;
}

img {
  width: 100px;
  height: 100px;
}

.color {
  color: #ff4d00;

}

#signature {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logocontainer {
  display: inline;
  width: 100px;
  display: flex;
}

#logosize {
  width: 80px;
}

#personal {
  margin-left: -20px;
}

#type {
  margin-top: 6px;
  margin-left: 23px;
  color: #524a47;
  display: flex;
}

p {
  line-height: 16px;
  font-size: 14px;
}

a#web {
  color: #524a47;
  text-decoration: none;
}

a#sub {
  color: #ff4d00;
  text-decoration: none;
}

#name {
  font-family: "semibold", "Courier New", Courier, monospace;
}

#dot {
  font-family: "semibold", "Courier New", Courier, monospace;
}

#title{
  font-family: "regular", "Courier New", Courier, monospace;
  opacity: 1;
}

#co {
  font-family: "semibold", "Courier New", Courier, monospace;
}

#info{
  font-family: "regular", "Courier New", Courier, monospace;
}

#social{
  display: inline;
  position: absolute;
  margin-left: 123px;
  margin-top: -7px;
}

#insta {
  width: 15px;
  height: 15px;
  opacity: 0.5;
  display: inline;
}

#in {
  margin-left: 4px;
  width: 15px;
  height: 15px;
  opacity: 0.5;
  display: inline;
}
